
  "openapi": "3.0.3",
  "info": {
    "title": "Web Access Feed API",
    "version": "0.0.1"
  },
  "servers": [
    {
      "url": "https://mtp.lesstage0.flexilis.org",
      "description": "Staging server\n\n"
    },
    {
      "url": "https://mtp.lookout.com",
      "description": "Production server\n\n"
    }
  ],
  "paths": {
    "/web-access-feed": {
      "get": {
        "tags": [
          "web access feed"
        ],
        "summary": "Get a list of lookup access events.",
        "parameters": [
          {
            "name": "start_interval",
            "in": "query",
            "description": "A timestamp to start from\n\n",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation\n\n"
          }
        },
        "security": [
          {
            "bearerAuth": [
              "web_activity.read"
            ]
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "LookupAccessEventResponse": {
        "type": "object",
        "properties": {
          "device_guid": {
            "type": "string",
            "format": "uuid"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "region": {
            "type": "string"
          },
          "request_uri": {
            "type": "string"
          }
        },
        "additionalProperties": false,
        "required": [
          "device_guid",
          "timestamp",
          "id",
          "region",
          "request_uri"
        ]
      },
      "WebaccessFeedResponse": {
        "type": "object",
        "properties": {
          "enterprise_guid": {
            "type": "string",
            "format": "uuid"
          },
          "start_time": {
            "type": "string",
            "format": "date-time"
          },
          "end_time": {
            "type": "string",
            "format": "date-time"
          },
          "lookup_access_events": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LookupAccessEventResponse"
            },
            "minItems": 0
          }
        },
        "additionalProperties": false,
        "required": [
          "enterprise_guid",
          "start_time",
          "end_time",
          "lookup_access_events"
        ]
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "tags": [
    {
      "name": "web access feed",
      "description": "Operations for accessing web access feed data.\n\n"
    }
  ]